@if (olympicCountry.length === 1) {
  <header>
    <h1>{{ countryName }}</h1>
  </header>
  <section class="summary-container">
    <app-summary-block label="Number of entries" [value]="participationsCount"/>
    <app-summary-block label="Total number of medals" [value]="medalsCount"/>
    <app-summary-block label="Total number of athletes" [value]="athletesCount"/>
  </section>
  <figure>
    <ngx-charts-line-chart [results]="lineChartData" [xAxis]="true" [showXAxisLabel]="true" xAxisLabel="Year"
                           [yAxis]="true" [showYAxisLabel]="true" yAxisLabel="Medals"/>
  </figure>
} @else {
  <app-centered-message>
    <h2>No data about country {{ countryName }}</h2>
    <a routerLink="">Go to dashboard</a>
  </app-centered-message>
}
<a routerLink="/" class="button-like">Return home</a>
