@if (olympicCountry.length === 1) {
<header>
  <h1>{{ countryName }}</h1>
</header>
<section class="summary-container">
  <app-summary-block label="Number of entries" [value]="participationsCount"/>
  <app-summary-block label="Total number of medals" [value]="medalsCount"/>
  <app-summary-block label="Total number of athletes" [value]="athletesCount"/>
</section>
<figure>
  <ngx-charts-line-chart/>
</figure>
} @else {
  <p>No data about {{ countryName }}</p>
}
<a routerLink="/" class="button-like">Return home</a>
