header {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  background-color: #04828e;
}

header .title {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.25em;
}

header .logo img {
  max-height: 1.5em;
}
